C:\Users\User\source\repos\AvoidConfusion\AvoidConfusion\bin\Debug\net5.0\AvoidConfusion.exe
C:\Users\User\source\repos\AvoidConfusion\AvoidConfusion\bin\Debug\net5.0\AvoidConfusion.dll
C:\Users\User\source\repos\AvoidConfusion\AvoidConfusion\bin\Debug\net5.0\DSharpPlus.CommandsNext.dll
C:\Users\User\source\repos\AvoidConfusion\AvoidConfusion\bin\Debug\net5.0\DSharpPlus.dll
C:\Users\User\source\repos\AvoidConfusion\AvoidConfusion\bin\Debug\net5.0\Emzi0767.Common.dll
C:\Users\User\source\repos\AvoidConfusion\AvoidConfusion\bin\Debug\net5.0\Microsoft.Extensions.DependencyInjection.Abstractions.dll
C:\Users\User\source\repos\AvoidConfusion\AvoidConfusion\bin\Debug\net5.0\Microsoft.Extensions.DependencyInjection.dll
C:\Users\User\source\repos\AvoidConfusion\AvoidConfusion\bin\Debug\net5.0\Microsoft.Extensions.Logging.Abstractions.dll
C:\Users\User\source\repos\AvoidConfusion\AvoidConfusion\bin\Debug\net5.0\Newtonsoft.Json.dll
C:\Users\User\source\repos\AvoidConfusion\AvoidConfusion\bin\Debug\net5.0\System.Json.dll
C:\Users\User\source\repos\AvoidConfusion\AvoidConfusion\bin\Debug\net5.0\ref\AvoidConfusion.dll
C:\Users\User\source\repos\AvoidConfusion\AvoidConfusion\bin\Debug\netcoreapp3.1\DSharpPlus.CommandsNext.dll
C:\Users\User\source\repos\AvoidConfusion\AvoidConfusion\bin\Debug\netcoreapp3.1\DSharpPlus.dll
C:\Users\User\source\repos\AvoidConfusion\AvoidConfusion\bin\Debug\netcoreapp3.1\Newtonsoft.Json.dll
C:\Users\User\source\repos\AvoidConfusion\AvoidConfusion\bin\Debug\netcoreapp3.1\System.Json.dll
C:\Users\User\source\repos\AvoidConfusion\AvoidConfusion\bin\Debug\netcoreapp3.1\System.Text.Json.dll
C:\Users\User\source\repos\AvoidConfusion\AvoidConfusion\bin\Release\net5.0\AvoidConfusion.exe
C:\Users\User\source\repos\AvoidConfusion\AvoidConfusion\bin\Release\net5.0\AvoidConfusion.dll
C:\Users\User\source\repos\AvoidConfusion\AvoidConfusion\bin\Release\net5.0\Cosmos.CRTCompat.dll
C:\Users\User\source\repos\AvoidConfusion\AvoidConfusion\bin\Release\net5.0\DSharpPlus.CommandsNext.dll
C:\Users\User\source\repos\AvoidConfusion\AvoidConfusion\bin\Release\net5.0\DSharpPlus.dll
C:\Users\User\source\repos\AvoidConfusion\AvoidConfusion\bin\Release\net5.0\Microsoft.Azure.DocumentDB.Core.dll
C:\Users\User\source\repos\AvoidConfusion\AvoidConfusion\bin\Release\net5.0\Microsoft.Azure.Documents.ServiceInterop.dll
C:\Users\User\source\repos\AvoidConfusion\AvoidConfusion\bin\Release\net5.0\Newtonsoft.Json.dll
C:\Users\User\source\repos\AvoidConfusion\AvoidConfusion\bin\Release\net5.0\System.Json.dll
C:\Users\User\source\repos\AvoidConfusion\AvoidConfusion\bin\Release\net5.0\ref\AvoidConfusion.dll
C:\Users\User\source\repos\AvoidConfusion\AvoidConfusion\bin\Release\net5.0\runtimes\win7-x64\native\Cosmos.CRTCompat.dll
C:\Users\User\source\repos\AvoidConfusion\AvoidConfusion\bin\Release\net5.0\runtimes\win7-x64\native\Microsoft.Azure.Documents.ServiceInterop.dll
C:\Users\User\source\repos\AvoidConfusion\AvoidConfusion\obj\Debug\net5.0\apphost.exe
C:\Users\User\source\repos\AvoidConfusion\AvoidConfusion\obj\Debug\net5.0\AvoidConfusion.dll
C:\Users\User\source\repos\AvoidConfusion\AvoidConfusion\obj\Debug\net5.0\ref\AvoidConfusion.dll
C:\Users\User\source\repos\AvoidConfusion\AvoidConfusion\obj\Release\net5.0\apphost.exe
C:\Users\User\source\repos\AvoidConfusion\AvoidConfusion\obj\Release\net5.0\AvoidConfusion.dll
C:\Users\User\source\repos\AvoidConfusion\AvoidConfusion\obj\Release\net5.0\ref\AvoidConfusion.dll
