# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache

*.exe
*.dll

./AvoidConfusion/bin/*/*.dll
./AvoidConfusion/bin/*/*.exe
./AvoidConfusion/bin/*/*.cache
./AvoidConfusion/obj/*
